{% extends "app/base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'generate_bio' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_professional_title">Professional Title</label>
            <input type="text" name="professional_title" id="id_professional_title" class="form-control">
        </div>

       <div class="form-group">
            <label for="id_professional_title">Tell me about you.What do you like to do? What excites you?</label>
            <input type="text" name="personalized_fact" id="id_personalized_fact" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_value_creation">Tell me about your background.</label>
            <input type="text" name="background" id="id_background" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_passion_motivation">What are you learning on your current role?</label>
            <input type="text" name="current_role" id="id_current_role" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_passion_motivation">Tell me about your technical skills, what do you like to work with?</label>
            <input type="text" name="relevant_skills" id="id_relevant_skills" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Generate Bio</button>
    </form>

    <div class="text-area-wrapper">
        <div style="display: contents;">
            {% csrf_token %}
            <label for="bio"></label>
            <textarea class="form-control bio custom-width" name="textarea_content" id="bio" rows="3">
                {% if bio %}
                    {{ bio }}
                {% endif %}
            </textarea>
            <div class="button-container">
                <button type="submit" class="btn btn-primary" style="background-color: #343a40; /* Set the background color to match bs-theme-dark */
                border-color: lightgray;" disabled>Save</button>
            </div>
        </div>
    </div>
{% endblock %}