{% extends "app/base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'generate_bio' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_professional_title">Professional Title</label>
            <input type="text" name="professional_title" id="id_professional_title" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_years_of_experience">Years of Experience</label>
            <input type="text" name="years_of_experience" id="id_years_of_experience" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_professional_values">Professional Values</label>
            <input type="text" name="professional_values" id="id_professional_values" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_problem_solving">Problem Solving</label>
            <input type="text" name="problem_solving" id="id_problem_solving" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_emotional_intelligence">Emotional Intelligence</label>
            <input type="text" name="emotional_intelligence" id="id_emotional_intelligence" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_personal_growth_mindset">Personal Growth Mindset</label>
            <input type="text" name="personal_growth_mindset" id="id_personal_growth_mindset" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_teamwork_collaboration">Teamwork Collaboration</label>
            <input type="text" name="teamwork_collaboration" id="id_teamwork_collaboration" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_communication_skills">Communication Skills</label>
            <input type="text" name="communication_skills" id="id_communication_skills" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_initiative_proactivity">Initiative Proactivity</label>
            <input type="text" name="initiative_proactivity" id="id_initiative_proactivity" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_adaptability_resilience">Adaptability Resilience</label>
            <input type="text" name="adaptability_resilience" id="id_adaptability_resilience" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_value_creation">Value Creation</label>
            <input type="text" name="value_creation" id="id_value_creation" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_passion_motivation">Passion Motivation</label>
            <input type="text" name="passion_motivation" id="id_passion_motivation" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Generate Bio</button>
    </form>

    <div class="text-area-wrapper">
        <div style="display: contents;">
            {% csrf_token %}
            <label for="bio"></label>
            <textarea class="form-control bio custom-width" name="textarea_content" id="bio" rows="3">
                {% if bio %}
                    {{ bio }}
                {% endif %}
            </textarea>
            <div class="button-container">
                <button type="submit" class="btn btn-primary" style="background-color: #343a40; /* Set the background color to match bs-theme-dark */
                border-color: lightgray;" disabled>Save</button>
            </div>
        </div>
    </div>
{% endblock %}