<!-- Login HTML -->
{% extends "app/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>
{% endblock %}

{% block content %}
    <body class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="row justify-content-center">
            <div class="text-center mb-5">
                <h2>Login</h2>
            </div>
            <form method="POST" action="{% url "login" %}" class="p-5 rounded border border-secondary
                shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-group mb-4">
                    <input type="text" id="form2Example1" class="form-control" name="username" placeholder="Username">
                </div>
                <!-- Password input -->
                <div class="form-group mb-4">
                    <input type="password" id="form2Example2" class="form-control" name="password" placeholder="Password">
                </div>
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked>
                            <label class="form-check-label" for="form2Example31">Remember me</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                </div>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
                    <p>or sign in with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-linkedin"></i>
                    </button>
                </div>
            </form>
        </div>
    </body>
{% endblock content %}
